{% extends 'visitor_nav.html.twig' %}

{% block title %}Accueil - {{ parent()}} {% endblock %}

{% block main %}

    <h1>Magic The Gathering Decks</h1>

    <h2>Browse MTG Cards and Manage Decks</h2>

    <button>Sign Up</button>
    <button>Sign In</button>

{% endblock %}